<!--_nav.html-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Controle de Atividades</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tabela_add' %}">Criar Diário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'atividade_add' %}">Cadastrar Atividades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'update' user.id %}">Alterar Dados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastro' %}">Cadastrar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--/_nav.html-->
